@import "tailwindcss";

@theme {
  --color-primary: #111827;
  --color-accent: #f97316;
  --font-sans: system-ui, sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-primary text-white font-sans;
}
